<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width =device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/jquery-3.0.0.js"></script>
    <script type="text/javascript">

    </script>
    <title>Famiy Planer</title>
    <link rel="shortcut icon" href="/static/Pics/logo.png" type="image/png">

</head>
<body>

<div id=webseite>
    <div id=header>
        <button type="button" id="banner" onClick="self.location.href='FPindex.html'"
                style="background-color:transparent; border-color:transparent;">
            <img src="/static/Pics/banner.jpg"/>
        </button>
    </div>

    <div id=main>
        <div id=menue>
            <button type="button" id="profile" onClick="self.location.href='/user'"
                    style="background-color:transparent; border-color:transparent;">
                <img src="/static/Pics/profilbutton.png" height="140" width="140"/>
            </button>

            <button type="button" id="todo" onClick="self.location.href='/my-calender'"
                    style="background-color:transparent; border-color:transparent;">
                <img src="/static/Pics/calenderbutton.png" height="100" width="100"/>
            </button>
            <br>
            <button type="button" id="calender" onClick="self.location.href='/add-task'"
                    style="background-color:transparent; border-color:transparent;">
                <img src="/static/Pics/todobutton.png" height="100" width="100"/>
            </button>
            <button type="button" id="add" onClick="self.location.href='/family-calender'"
                    style="background-color:transparent; border-color:transparent;">
                <img src="/static/Pics/fambutton.png" height="100" width="100"/>
            </button>
            <button type="button" id="fam" onClick="self.location.href='/addmember'"
                    style="background-color:transparent; border-color:transparent;">
                <img src="/static/Pics/addIcon.png" height="100" width="100"/>
            </button>
            <br><br>
            <button type="button" id="logoff" onClick="self.location.href='/login'"
                    style="background-color:transparent; border-color:transparent;">
                <img src="/static/Pics/exit.png" height="80" width="80"/>
            </button>
        </div>

        <div id="content">
        <table style="border: dashed">
            <tr>
                <th>Task</th>
                <th>Who's Job</th>
                <th>Deadline</th>
            </tr>
            {% for task in tasks %}
                <tr>
                <td>{{ task.task }}</td>
                <td>{{ task.user.username }}</td>
                <td>{{ task.deadline }}</td>
                </tr>
            {% endfor %}
        </table>
            
        </div>

        <div id=footer1>
            <ul>
                <li>&copy; Group 13 and the Girl</li>
                <li>Contakt</li>
                <li>Impresum</li>
            </ul>
        </div>

    </div>

    <script src="/static/jquery-3.0.0.js"></script>
    <script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</body>
</html>