<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width =device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.5-dist/css/bootstrap.css">
    <script src="/static/jquery-3.0.0.js"></script>
    <script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>

    <title>Famiy Planer</title>
    <link rel="shortcut icon" href="/static/Pics/logo.png" type="image/png">
</head>
<body>

<div id=webseite>
    <div id=header>
        <button type="button" id="banner" onClick="self.location.href='/login'"
                style="background-color:transparent; border-color:transparent;">
            <img src="/static/Pics/banner.jpg"/>
        </button>
    </div>

    <div id=main>

        <div id=contentlog>
            {% if haserror %}
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">X</span></button>
                    <strong>Error!</strong> {{ message }}
                </div>
            {% endif %}
            <form id="activity-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br> Family Name:<br> <input type="text" name="familyname">
                <br> Username:<br> <input type="text" name="username">
                <br> Password:<br> <input type="password" name="password">
                <br> Age:<br> <input type="number" name="age" min="1" max="99"><br>
                <br> Gender:<br> <input type="radio" name="gender" value="true"> Male
                <br> <input type="radio" name="gender" value="false"> Female
                <br>
                <input type="submit" name="submit" value="submit">
            </form>

        </div>
    </div>

    <div id=footer>
        <ul>
            <li>&copy; Group 13 and the Girl</li>
            <li>Contakt</li>
            <li>Impresum</li>
        </ul>
    </div>

</div>

</body>
</html>